.section__button {
    color: teal;
    border: none;
    background: transparent;
    margin: 0 0 0 20px;
    transition: 0.4s;
    font-size: 17px;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:active {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: lightgray;
}